<mat-toolbar color="primary">
  <span>Angular Rome Meetup</span>
  <button mat-icon-button class="example-icon favorite-icon" routerLink="">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button routerLink="rxjs-examples/rxjs-example-one">
    <mat-icon>looks_one</mat-icon>
  </button>
  <button disabled mat-icon-button routerLink="rxjs-examples/rxjs-example-two">
    <mat-icon>looks_two</mat-icon>
  </button>
  <button disabled mat-icon-button routerLink="rxjs-examples/rxjs-example-three">
    <mat-icon>looks_3</mat-icon>
  </button>
  <button disabled mat-icon-button routerLink="rxjs-examples/rxjs-example-four">
    <mat-icon>looks_4</mat-icon>
  </button>
  <button disabled mat-icon-button routerLink="rxjs-examples/rxjs-example-five">
    <mat-icon>looks_5</mat-icon>
  </button>
</mat-toolbar>

